 :root {
    --primary-color: #E3C863;
    --bg-color: #FFFDFB;
    --highlight-color-pink:#EDAFA4;
    --highlight-color-blue: #8DB6B6;
    --highlight-color-green:#95B78D;
    --highlight-color-orange: #FF6500;
}

