.img-card {
    position: relative;
    margin-bottom:3rem;
}

.img-card img {
    width:100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.hover-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(227, 200, 99, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms, visibility 200ms;
}

.img-card:hover .hover-text {
    visibility: visible;
    opacity:1;
    cursor: pointer;
}