#shop {
    margin:3rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    
}

.card {
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    width:80%;
} 

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    flex-grow: 1;
    font-size:14px;
    font-weight: 200;
    padding:8px;
    line-height: 1.8;
    text-align: center;
}

.price {
    font-weight: 600;
    padding:8px;
    text-align: center;
}

